.container{
    text-align: center;

    h1{
        margin: 10px 0px; 
    }

    a{
        color:red;
        font-size: 14px; 
    }
}



.products{
    display: flex;
    margin: 50px 0px;
    justify-content: space-around;
    .item{
        width: 400px;
        float: left;

        img{
            height: 150px;
            width: 150px;
        }
        
    }
}

.paginator{
    text-align: center;
    a{
        text-transform: uppercase;
        border:1px solid red;
        padding:10px 5px;
        border-radius: 5px;
        cursor: pointer;
        margin: 0px 20px;
    }
}